*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-image: url(/img/Fubdo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 5rem;
}

.caixar-principal{
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.caixa-pesquisa {
    background: rgba(4, 4, 4, 0.696);
    width: 500px;
    min-width: 300px;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column; /* 🔥 empilha conteúdo */
    justify-content: space-between;
    float: left;
    margin-top: 10px;
}


#cidade{
    font-size: 20px;
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 80%;
    font-size: 20px;
    outline: none;
    color: rgb(7, 6, 6);
    border-radius: 10px;
    border: none;
}

button img{
   height: 15px;

}
button{
    border-radius: 50%;
    padding: 8px;
    border: none;
    min-width: 35px;
    margin-left: 8%;
}

.resposta{
     background: rgba(0, 0, 0, 0.76);
    width: 900px;
    margin-top: 10px;
    border-radius:10px ;
    color: aliceblue;
    text-align: center;
    align-items: center;
    padding: 20px;
    animation: suaver 0.5s ease;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    border: 1px solid #ffffff43;
}

@keyframes suaver {
    from {
        opacity: 0;
        transform: translateY(-10px);
        height: 0px;
        overflow:hidden;
       
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        
    }
}


.resposta h2{
    font-size: 2.5rem;
    border-bottom: 1px solid rgb(139, 139, 139);
}


.temp{
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
}


.detalhes{ 
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    margin-top: 35px;

}

.fundo_detalhes{
    display: flex;
    gap: 10px;
}


.icone{
    height: 120px;
}


.clima{  /*Como ta o clima*/
    font-size: 1.5rem;
}


/*--------  Caixa dos 5 dias ---------*/

.caixa2{
    text-align: center;
    background: rgba(0, 0, 0, 0.76);
    width: 900px;
    margin-top: 10px;
    border-radius:10px ;
    padding: 20px;
    color: aliceblue;
    animation: suaver 0.5s ease;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    border: 1px solid #ffffff43;
}

.titulo {
    border-bottom: 1px solid rgb(56, 56, 56);
    font-size: 1.5rem;
}

.listaDias{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.dia{
    background: rgba(59, 59, 59, 0.374);
    border: 1px solid #ffffff25;
    padding: 10px;
    width: 170px;
    min-width: 40px;
    border-radius: 5px;
}


.nome-clima{
    font-size: 1rem;
}









@media (max-width: 768px) {

body{
    display: flex;
    align-items: center;
}


h1{
    font-size: 2.5rem;
    margin-top: 10px;
}

.caixar-principal{
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 0;
}


.caixa-pesquisa{
    width: 100%;
 
}

#cidade{
   width:70%;
   font-size: 12px;
}


button{
    float:right;
}

.resposta{
    width: 100%;
}

.fundo_detalhes{
    background: #5857578c;
    border: 1px solid #c5c5c525;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    flex-direction: column;
    padding: 5px;
   

    span{
        color: transparent;
    }
}


/*----------CAIXA DE 5 DIAS------------*/

.caixa2{
     width: 100%;
}

.dia{ /* div com informaçaoes fundo*/
    width: 100%;
    font-size: 12px; 
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 5px;
}

.nomeDia{
   width: 70px;
   text-align: start;
}

.nome-clima{
    font-size: 2100px;

}
.imags{
    height: 50px;
}

.listaDias{ /*Informações*/
   flex-direction: column;
}

.imgTmp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row-reverse;
}

.nome-clima{
    align-items: center;
    font-size: 12px;
    width: 100px;
}

}